<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<% if current_user %>
  <div class="temporary-link" id="temporary-link">
    <h3>Anketno istraživanje u svrhu participacije u pripremi sveobuhvatnih izmjena i dopuna prostorno planske dokumentacije (GUP i PPU) Grada Dubrovnika</h3>
    <div class="temporary-content">
      <a class="button expanded" href="https://forms.gle/yfvTfGnRxNcdWeqe7">Otvori anketu!</a>
      <p class="text-warning">Glasanje možete pokrenuti samo jednom.</p>
    </div>
  </div>
<% end %>

<main>
  <%= render "feeds" %>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <h2 class="title"><%= t("welcome.cards.title") %></h2>

        <%= render "shared/cards", cards: @cards %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
