<div class="budget-header">
  <div class="row">
    <div class="small-12 column">
      <h1><%= budget.name %></h1>
      <div class="description-text">
        <%= auto_link_already_sanitized_html wysiwyg(budget.description_text) %>
      </div>
      <div class="document-link">
        <p>
        <% budget.documents.each do |document| %>
          <span class="icon-document"></span>&nbsp;
            <%= link_to document.title,
                        document.attachment.url,
                        target: "_blank",
                        rel: "nofollow" %><br>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render Budgets::SubheaderComponent.new(budget) %>
<%# <%= render Budgets::PhasesComponent.new(budget) %>

<div id="budget_info" class="budget-info">
  <div class="row margin-top">
    <div class="small-12 column">
      <%= render Budgets::GroupsAndHeadingsComponent.new(budget) %>
    </div>
  </div>
</div>
