<tr id="image_<%= budget_image.id %>" class="image">
  <td>
    <%= image_tag budget_image.image.attachment.url(:large),
                  class: image_class(budget_image.image),
                  alt: budget_image.image.title.unicode_normalize,
                  title: budget_image.image.title.unicode_normalize %>
  </td>
  <td>
    <%= budget_image.image.title %>
  </td>
  <td>
    <%= budget_image.image.created_at.to_formatted_s(:long) %>
  </td>
  <td>
    <%= render Admin::TableActionsComponent.new(budget_image.image,
      actions: [:edit, :destroy],
      edit_text: t("admin.district.image.edit"),
      edit_path: edit_admin_budget_image_path(id: budget_image.id),
      destroy_text: t("admin.district.image.delete"),
      destroy_path: admin_budget_image_path(id: budget_image.id),
    ) %>
  </td>
</tr>
