<%= form_with(model: district_street_filter, local: true) do |form| %>
  <% if district_street_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district_street_filter.errors.count, "error") %> prohibited this district_street_filter from being saved:</h2>

      <ul>
      <% district_street_filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :district_streets_id %>
    <%= form.text_field :district_streets_id %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.number_field :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.number_field :to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
