<div class="budget-header">
  <div class="row">
    <div class="small-12 column">
      <h1><%= budget.name %></h1>
      <div class="description">
        <%= auto_link_already_sanitized_html wysiwyg(budget.description) %>
      </div>
      <p>Grad Dubrovnik i Dubrovačka razvojna agencija DURA kroz 2023. godinu provode projekt Participativno budžetiranje čiji je cilj uključiti građane Dubrovnika u proces donošenja odluka u svojoj sredini.</p>
      <p>Građani su tijekom lipnja i srpnja ukupno predali 233 projektna prijedloga u sklopu 25 radionica unutar 8 gradskih kotara i 17 mjesnih odbora. Postupkom glasovanja obuhvaćen je 131 projektni prijedlog koji je zadovoljio kriterije modela participativnog budžetiranja u vrijednosti do 60 tisuća eura po svakom mjesnom odboru te 120 tisuća eura po svakom gradskom kotaru.</p>
      <p>Glasovanjem Vi odlučujete koji će se projektni prijedlog iz Vašeg gradskog kotara ili mjesnog odbora realizirati u 2024. godini, odnosno – što je potrebno Za bolji Grad.</p>
      <p>
        <%= link_to t("budgets.index.section_header.help"), "/docs/ZaBoljiGradUputa.pdf" %>
      </p>

    </div>
  </div>
</div>

<%= render Budgets::SubheaderComponent.new(budget) %>

<div id="budget_info" class="budget-info">
  <div class="row margin-top">
    <div class="small-12 column">
      <%= render Budgets::GroupsAndHeadingsComponent.new(budget) %>
    </div>
  </div>
</div>
